.landing-section {
  padding-top: 5%;
  width: 100%;
  height: calc(100% - 60px);
  background-color: $dark-blue;
}

.landing-title {
  color: $white;
  font-size: 40px;
  text-align: center;
  line-height: 62px;

  span {
    font-size: 50px;
    line-height: 80px;
  }
}
