.app-contacts {
  width: 100%;
  padding: 50px 150px;
  background-image: linear-gradient(45deg, #0C3A77 0%, #051B42 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  h1 {
    width: 100%;
    font-size: 40px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 100px 0;

    span {
      color: $yellow;
    }
  }

  h2 {
    font-size: 33px;
    color: #D3D2D2;
    text-align: center;
  }

  &__items-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
  }
}